h2 {
  color: darkgreen;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.quiz-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 15px;
  margin-top: 150px;
  position: relative;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #d60d0d;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: -1;
}

.quiz-cards__text {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.fav-icon {
  position: absolute;
  right: 0px;
  top: -10px;
  width: 0px;
  height: 0px;
}
.fav-icon-link {
  position: relative;
  top: -10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.quiz-cards__answer-explanation--hidden {
  display: none;
}
