h2 {
  color: darkgreen;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.quiz-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 15px;
  margin-top: 150px;
  position: relative;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.question-text {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.fav-icon {
  position: absolute;
  right: 0px;
  top: -10px;
  width: 0px;
  height: 0px;
}
.fav-icon-link {
  position: relative;
  top: -10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.footer {
  border: #ccc 2px solid;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1px;

  border: #ccc 2px solid;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footer-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;

  background-color: rgb(175, 233, 136);
}
.footer-icon {
  width: 20px;
  height: 20px;
}
