@import "./cards.css";
@import "./header.css";
@import "./button.css";
@import "./navigation.css";
h1 {
  text-align: center;
  color: blue;
}
.quiz-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightsalmon;
  position: fixed;
  top: 0;
}
.bookmarks-head {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(241, 219, 16);
  position: fixed;
  top: 0;
}
.profile-body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);

  padding-top: 100px;
  background-color: lightcyan;
  position: relative;
}
.profile-head {
  width: 100%;
  height: 100px;
  top: 0;
  padding: 0;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightseagreen;
  position: fixed;
}
.profile-details {
  background-image: url(./assets/user-avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid rgb(243, 6, 6);
  border-radius: 10px;
  font-size: 18px;
  color: rgb(199, 17, 17);
}
.profile-details--textbox {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: 2px solid rgb(199, 17, 17);
  width: 50%;
  border-radius: 5px;
}

.profile-username {
  font-weight: bold;
  margin-bottom: 5px;
  top: 120px;
  left: 50px;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 24px;
}
