@import "./cards.css";
@import "./header.css";
@import "./button.css";
@import "./navigation.css";
h1 {
  text-align: center;
  color: blue;
}
.quiz-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
}
